body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #333;
    padding: 15px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-list a:hover {
    color: #ffd700; /* Color al pasar el ratón sobre los enlaces */
  }
  
  .content {
    padding: 20px;
  }
  